GITLAB_URL=https://gitlab.com
GITLAB_TOKEN=your_gitlab_personal_access_token_here
GITLAB_GROUP=yourorg/yourgroup
DATABASE_URL=sqlite:///./stale_mrs.db
CACHE_DURATION_HOURS=1
STALE_MR_DAYS=7
PORT=8001
